<div id=content>
<% unless @user.nil? %>


 <h2>Hello, <%= @user.login %></h2>
 
 <ul>
 <li> <%= link_to "Manage Mailing Lists", mailing_lists_path %></li>
 <li> <%= link_to "Create Email Campaign", campaigns_path %></li>

 
 </ul> 


<% end %>

</div> <!--content -->
